@mixin input-output {
    width: 98vw;
}

.main {
    margin: 1em;
}

.component {
    margin-bottom: 1em;
}

.params {

    margin-bottom: 2em;

    .container {
        margin: unset;
    }
}

.results {
    @include input-output;
}